img{
    position:absolute;
    left: 38%;
}

#welcome{
    position:absolute;
    left:46%
}

h3{
    font-size: 30px;
}

body{
    background-color: rgb(231, 225, 217);
}

p{
    position: absolute;
    left:43%
}

#form{
    position: absolute;
    left:38% 
}

input{
    font-size: 30px;
    
}

button{
    position: absolute;
    left:37% 
}

#button{
    font-size: 25px;
}

nav{
    position:absolute;
    left: 39.4%;
}

a{
    font-size: 40px;
    text-decoration: none;
    color: black;


    
}

#nav{
    display: flex;
    gap: 15%;
   
}



