/* #holla{

    color:rgb(236, 17, 65)
}

p{

    color: rgb(228, 214, 23);
}

b,u,strong,i,em{

    color:rgb(172, 24, 24)
}

h1,h2,h3{

    color:rgb(31, 10, 218);
}

body{
    background-color: black;
    text-align:left;
} */



