p.id{

    color:rgb(2, 2, 252);
    font-size: 40px;
    background-color: black;
}

#block{
    width:200px;
    height: 200px;
    background-color: #092635;

    
}

a{

    font-size: 40px;
    background-color: blue;
    color:white;
}

button{

    color: rgb(0, 33, 182);
    
}

p{
    color:aliceblue;
}