/* h1 u {
    color:seagreen;
  }
  
  p {
    color: purple;
    }
    b {
    color: green;
    }


    
p{
    
    color: yellow

}
p b{
    
    color: green;
    
} */

/* <p class= "movie">
Avatar</p>
<button class = "movie"
>
Watch now</button> */