#h4-1{
    background-color: grey;
    height:30px;
}

h1{
    position: absolute;
    left: 33%;
    
}

.input{
    position: absolute;
    left: 37%
}

#h1-1{
    font-size: 50px;
}

#member1{
    position: absolute;
    left: 32%
}



#txt{
    width:70px
}

#adr{
   width:250px
}

.ing{
    width:60px
}

#status{
    width:125px
}

#four{
    position:absolute;
    left:45% 
}

#three{
    position:absolute;
    left:42%  
}

#two{
    position:absolute;
    left:39%  
}

#one{
    position:absolute;
    left:36% 
}

#status{
    position: absolute;

}

.pos{
    position: absolute;
    left:33.8%
}

.adr1{
    position: absolute;
    left:33.2%
}

#one1{
    position: absolute;
    left:36%
}


.menu{
    width:75px;
    height:25px;
}

#add2{
    position: absolute;
    left:33.5%
}

#delete{
    position: absolute;
    left:37.7%
}

#search{
    position: absolute;
    left:41.9%
}

#Main{
    position: absolute;
    left:46.1%
}
















