/* body{
    text-align: center;
} */

/* .input_1{
    position: absolute;
    left:  46.2%;
} */

.label_1{
    position: absolute;
    left: 38%
}

h2{
    position: absolute;
    left: 36%
}

.label_2{
    position: absolute;
    left: -50%
}


#form_1{
    position: absolute;
    left: 45%
}

#label1{
    position:absolute;
    left: -60%
}

#h2_1{
    position: absolute;
    left: 36%
}

form{
    position: absolute;
    left: 45%
}

.label_3{
    position: absolute;
    left: -40%
}

#Town{
     
    position: absolute;
    left: -60.5%
     
}

