p{
    background-color: rgb(255, 255, 255);
    position:absolute;
    left: 65%
}

body{
    background-color: rgb(228, 228, 228);
    
}

input{
    height:20px;
    width: 450px;
    
}

.height{
    position: absolute;
    left: 13%
}

button{
    background-color:rgb(2, 247, 2)
    
}

#submit{
    color:white;
    height: 30px;
}

